
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Fonts
$font-lato: "Lato", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-inter: "Inter", sans-serif;
// Fonts end

// colors
$color-black-2: #142228;
$color-black-2c: #2C2C2C;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-grey-94: #959494;
$color-blue-21: #219EBC;
// colors

@mixin media($value) {
    @if ($value < 0) {
        @media screen and (min-width: calc($value * (-1)) + 'px') {
            @content;
        }

    } @else {
        @media screen and (max-width: $value + 'px') {
            @content;
        }
    }
}
