@import './normalize';
@import './global';

body {
    background: white;
}

* {
    font-family: $font-lato;
}

.container {
    width: calc(100% - 30px);
    max-width: 1365px;
    margin: 0 auto;
}



@import './layouts/header',
        './layouts/home',
        './layouts/footer';