// main_header
.main_header {
  .header-left {
    display: flex;
    align-items: center;
    gap: 38px;
    position: static;
    padding-left: 0;
  }

  .bars {
    @include media(1200) {
      display: block !important;
    }

    @include media(-1200) {
      display: none !important;
    }
  }

  .header-right {
    .btn-light {
      @include media(1200) {
        display: none;
      }
    }

    .btn-white {
      @include media(993) {
        display: flex;
      }
    }
  }

  .header-navs {
    gap: 30px;

    @include media(1200) {
      display: none;
    }
  }

  .header-logo {
    position: static;

    @include media(1200) {
      position: absolute;
      top: 5px;
      left: 78px;
      transform: translateX(0);
    }

    @include media(993) {
      left: 78px;
    }

    img {
      @include media(1200) {
        height: 28px;
      }
    }
  }
}
// main_header

// main_choose_us
.main_choose_us {
  .sec-title {
    h2 {
      color: #219ebc;
    }
  }

  .choose-us__content {
    gap: 52px;

    @include media(993) {
      gap: 20px;
    }
  }

  .choose-us__left {
    padding: 0;
  }

  .choose-us__right {
    li {
      align-items: center;
    }
  }
}
// main_choose_us

// main_gallery
.main_gallery {
  margin-bottom: 0;

  .sec-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h2 {
      margin: 0;
    }
  }
}
// main_gallery

// main_blog
.main_blog {

  .service_blog_bottom {
    margin: 100px 0 112px 0;

    @include media(993) {
      margin: 50px 0;
    }
  }
}
// main_blog

// main_faq
.main_faq {
  margin: 112px 0 165px 0;

  @include media(993) {
    margin: 50px 0;
  }
}
// main_faq

// plan
.plan {
  margin-bottom: 110px;

  @include media(993) {
    margin-bottom: 50px;
  }

  .sec-title {
    margin-bottom: 53px;

    @include media(993) {
      margin-bottom: 20px;
    }
  }

  &_cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 56px;

    @include media(993) {
      grid-template-columns: repeat(2,1fr);
    }

    @include media(768) {
      grid-template-columns: repeat(1,1fr);
      gap: 20px;
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    text-align: center;

    @include media(768) {
      gap: 15px;
    }

    img {
      display: block;
      width: auto;
      height: 148px;

      @include media(768) {
        height: 70px;
      }
    }

    h6 {
      font-family: $font-lato;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      color: #000;
      max-width: 196px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
      color: #000;
    }
  }
}
// plan

// mounting_size
.mounting_size {
  padding: 33px 0 45px 0;
  background: #E1F1F5;
  margin-bottom: 91px;

  @include media(993) {
    padding: 30px 0;
    margin-bottom: 50px;
  }

  .container {
    max-width: 1389px;
  }

  h6 {
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 44px;

    @include media(993) {
      font-size: 22px;
      line-height: 100%;
      margin-bottom: 20px;
    }

  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px 13px;

    @include media(993) {
      gap: 15px;
    }

    li {
      border-radius: 35px;
      background: #fff;
      padding: 16px 45px;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #000;

      @include media(993) {
        font-size: 14px;
        padding: 10px 30px;
      }
    }
  }
}
// mounting_size

// advantages
.advantages {
  margin-bottom: 60px;

  &_in {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;

    @include media(993) {
      grid-template-columns: repeat(2,1fr);
    }

    @include media(768) {
      grid-template-columns: repeat(1,1fr);
    }
  }

  &_block {
    display: flex;
    align-items: start;
    gap: 20px;

    @include media(993) {
      gap: 11px;
      align-items: center;
    }

    img {
      margin-top: 23px;
      display: flex;
      flex-shrink: 0;
      height: 69px;

      @include media(768) {
        width: 53px;
        margin-top: 0;
      }
    }

    h6 {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #28292b;
      margin-bottom: 18px;

      @include media(768) {
        font-size: 16px;
        margin-bottom: 9px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 180%;
      color: #28292b;

      @include media(993) {
        font-size: 13px;
        line-height: 141%;
      }
    }
  }
}
// advantages

// maintv_samples
.maintv_samples {
  margin: 98px 0;

  @include media(993) {
    margin: 50px 0;
  }

  thead {
    h3 {
      span {
        color: #FB8500;
      }
    }
  }
}
// maintv_samples

// blog_single
.blog_single {

  .blog_single_text {
    max-width: 100%;
    margin: 0;

    ul {
      li {
        line-height: 160%;
      }
    }
  }
}
// blog_single

.info_block {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px #00000040;
  background: #FB8500;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  color: #fff !important;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 6px;
}

// your_result
.your_result {
  margin-bottom: 97px;

  @include media(993) {
    margin-bottom: 50px;
  }

  .result_title {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;

    @include media(993) {
      margin-bottom: 10px;
    }

    span {
      width: 120px;
      height: 1px;
      background: #219EBC;

      @include media(993) {
        width: 100%;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 40px;
      line-height: 100%;
      color: #263238;
      text-align: center;

      @include media(993) {
        font-size: 24px;
      }
    }
  }

  .tv_size {
    display: flex;
    gap: 13px;

    @include media(768) {
      flex-direction: column;
      gap: 6px;
    }

    h6 {
      font-weight: 500;
      font-size: 24px;
      line-height: 100%;
      color: #000;
      display: flex;
      align-items: end;
      gap: 12px;

      @include media(768) {
        font-size: 18px;
        gap: 14px;
      }
    }

    .tv_recommend {
      width: 100%;
      background: #F0F8FA;
      padding: 30px 40px 40px 40px;

      @include media(768) {
        padding: 20px;
      }

      &_line {
        margin-top: 43px;

        h5 {
          font-weight: 400;
          font-size: 42px;
          line-height: 100%;
          color: #2AD633;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2px;
        }

        &_in {
          margin: 5px 0 8px 0;
          height: 7px;
          border-radius: 5px;
          background: linear-gradient(90deg, #DE2323 0%, #00FF37 49.04%, #DE2323 100%);
        }

        &_text {
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #000;
          }

          h5 {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: #000;
          }
        }
      }
    }

    .tv_wiewing {
      width: 291px;
      flex-shrink: 0;
      background: #F0F8FA;
      padding: 30px 30px 20px 30px;

      @include media(768) {
        width: 100%;
        padding: 20px;
      }

      &_img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        h5 {
          position: absolute;
          top: 40%;
          left: 50%;
          transform: translate(-40%, -50%);
          font-weight: 700;
          font-size: 24px;
          line-height: 100%;
          color: #41BF32;
        }
      }

      p {
        font-weight: 400;
        font-style: italic;
        font-size: 15px;
        line-height: 100%;
        color: #000;
        margin: 0;

        @include media(768) {
          text-align: center;
        }
      }
    }
  }

  .tv_calk_step {

    .tv_recommend {
      padding: 30px;
    }

    .tv_recommend_blocks {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      h6 {
        font-weight: 400;
        font-size: 48px;
        line-height: 100%;
        color: #219EBC;
        margin-bottom: 14px;
        display: flex;
        align-items: start;

        @include media(768) {
          font-size: 32px;
        }
      }

      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #000;
        margin: 0;

        @include media(768) {
          font-size: 13px;
        }
      }
    }

    .tv_recommend_block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tv_wiewing {
      width: 364px;

      @include media(768) {
        width: 100%;
      }

      h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #988455;
      }

      .tv_recommend_line {
        margin-top: 24px;

        @include media(768) {
          margin-top: 12px;
        }
      }

      .tv_recommend_line_text {
        @include media(768) {
          display: none;
        }
      }

      .tv_recommend_line_in {
        background: linear-gradient(90deg, #F43838 0%, #1EE979 100%);
      }
    }
  }

  .tabs {
    width: 100%;
    margin-bottom: 85px;

    @include media(993) {
      margin-bottom: 50px;
    }

    .tab-buttons {
      display: flex;
      gap: 7px;

      @include media(768) {
        flex-wrap: wrap;
      }

      .tab-btn {
        border: 1px solid #263238;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s;
        padding: 5px 15px;
        height: 31px;
        width: max-content;
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: #000;

        &.active {
          background: #263238;
          color: #fff;
        }
      }
    }

    .tab-content {
      margin-top: 34px;
      display: none;

      @include media(993) {
        margin-top: 24px;
      }

      &.active {
        display: block;
      }
    }
  }

  .resultSwiper {
    width: 100%;

    @include media(993) {
      overflow: visible;
    }
  }

  .result_slider_card {
    width: auto;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: relative;
    overflow: hidden;

    @include media(993) {
      gap: 15px;
      padding: 18px 15px;
    }

    img {
      width: 100%;
    }

    h6 {
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #000;

      @include media(993) {
        font-size: 14px;
      }
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #000;
      background: #F3F2F2;
      padding: 5px 10px;
      width: max-content;

      @include media(993) {
        font-size: 14px;
      }
    }

    h5 {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      color: #219EBC;
      display: flex;
      align-items: center;

      @include media(993) {
        font-size: 20px;
      }

      span {
        margin-left: 40px;
        background: transparent;

        @include media(993) {
          margin-left: 10px;
          font-size: 13px;
        }
      }
    }

    p {
      font-weight: 400;
      font-style: italic;
      font-size: 15px;
      line-height: 100%;
      color: #000;
      margin: 0;

      @include media(993) {
        font-size: 12px;
      }
    }

    .mini_text {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #fff;
      padding: 7px 20px;
      background: #FB8500;
      border-radius: 0 0 5px 0;

      @include media(993) {
        font-size: 12px;
      }

      &.blue {
        background: #5FC5EA;
      }

      &.black {
        background: #000;
      }
    }

    a {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #fff;
      height: 52px;
      border-radius: 5px;
      background: #219EBC;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media(993) {
        height: 44px;
      }
    }
  }

  &_step {
    border-bottom: 1px solid #EAEAEA;
    padding-top: 60px;

    @include media(993) {
      padding-top: 30px;
    }

    &:last-child {
      border: none;
    }

    .container {
      display: flex;
      align-items: start;
      gap: 53px;
    }
  }

  .tv_step_one {
    padding-bottom: 60px;
    padding-top: 0;

    @include media(993) {
      padding-bottom: 30px;
      padding-top: 20px;
    }

    .container {
      @include media(993) {
        width: 100%;
      }
    }

    .tv_size_text {
      margin-top: 30px;

      @include media(993) {
        padding: 0 16px;
        margin-top: 25px;
      }

      p {
        margin: 0;

        @include media(993) {
          margin-top: 10px;
        }
      }
    }
  }

  .or_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #000;
    display: none;

    @include media(993) {
      display: block;
      text-align: center;
    }
  }

  &_right {
    width: 100%;
    max-width: 1033px;

    h6 {
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      color: #000;

      span {
        color: #219EBC;
      }

      @include media(993) {
        font-size: 24px;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #000;
      margin: 26px 0;

      @include media(993) {
        font-size: 14px;
        line-height: 150%;
        margin: 16px 0 40px 0;
      }
    }

    .title_text {
      @include media(993) {
        margin: 16px 0;
      }
    }
  }

  .number {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    h6 {
      font-weight: 400;
      font-size: 128px;
      line-height: 100%;
      color: #CDCDCD;
    }

    span {
      text-align: center;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: #CDCDCD;
    }
  }

  &_title {
    @include media(993) {
      display: none;
    }
  }

  &_cards {
    display: flex;
    gap: 80px;

    @include media(993) {
      flex-direction: column;
      gap: 23px;
    }
  }

  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &_in {
      display: flex;
      align-items: start;
      gap: 15px;
      margin-bottom: 30px;

      @include media(993) {
        width: 100%;
      }
    }

    img {
      display: flex;
      flex-shrink: 0;
      height: 315px;
      width: 194px;
      max-width: 176px;

      @include media(993) {
        max-width: 122px;
        height: 200px;
      }
    }

    h6 {
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: #000;

      @include media(993) {
        font-size: 22px;
      }
    }

    p {
      margin: 25px 0;

      @include media(993) {
        margin: 15px 0;
      }
    }

    li,
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #000;

      @include media(993) {
        font-size: 13px;
      }
    }

    li {
      line-height: 180%;
    }

  }

  .btn-orange {
    border-radius: 5px;
    width: 308px;

    @include media(993) {
      height: 43px;
      font-size: 14px;
      width: 254px;
    }

    &.btn-blue {
      background: #219EBC;
    }
  }
}
// your_result

// home_calculate
.home_calculate_wrap {
  max-width: 1230px;
  margin: 0 auto;

  @include media(993) {
    display: flex;
    order: 3;
    width: 100%;
  }
}

.home_calculate {
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 45px;
  background: $color-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 80px;

  @include media(1150) {
    flex-direction: column;
    align-items: start;
    height: auto;
    border-radius: 10px;
  }

  @include media(993) {
    margin-top: 26px;
    width: 100%;
  }

  &_bottom {
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    margin-top: 20px;

    @include media(1150) {
      display: none;
    }
  }

  &_block {
    padding: 18px 30px;
    display: flex;
    gap: 18px;

    @include media(1150) {
      padding: 10px 15px;
    }

    &_title {
      display: flex;
      align-items: center;
      gap: 5px;
      text-align: left;

      .room_select {
        margin-top: 0 !important;
      }
    }

    &_text {
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #000;
        display: flex;
        gap: 3px;

        b {
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
  }

  .line {
    height: 57px;
    width: 1px;
    background: #4D5B63;

    @include media(1150) {
      width: 100%;
      height: 1px;
    }
  }

  .calculation_btn {
    height: 81px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    background: #219EBC;
    width: 133px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(1150) {
      height: 56px;
      width: 100%;
      font-size: 13px;
    }
  }

  .room_select {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 1px;

    select {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #000;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .desktop_img {
    @include media(1150) {
      display: none;
    }
  }

  .media_img {
    display: none;

    @include media(1150) {
      display: block;
      width: 43px;
      height: auto;
      object-fit: contain;
      flex-shrink: 0;
    }
  }

  &_block {
    @include media(1150) {
      width: 100%;
    }

    &_title {
      margin-bottom: 18px;
      display: flex;
      align-items: center;

      &_in {
        display: flex;
        align-items: center;
      }
    }

    &_text {
      font-size: 14px;
      color: black;

      @include media(1150) {
        width: 100%;
      }

      b {
        font-size: 18px;
        font-weight: bold;
      }

      &_wrap {
        width: 191px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        @include media(1150) {
          width: 100%;
        }
      }
    }
  }
}
// home_calculate

.home_calculate_main {
  overflow: visible;

  .calculation_btn {
    border-radius: 0 45px 45px 0;
  }
}

// Alert
.alert {
  position: absolute;
  border: 1px solid #D9D9D9;
  background: white;
  top: -12px;
  left: -18px;
  transform: translateY(-100%);
  width: 311px;
  border-radius: 7px;

  &:not(.active) {
    display: none;
  }

  &-wrap {
    position: relative;
  }

  &-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 143%;
    padding: 13px 30px 15px 23px;
  }

  button {
    position: absolute;
    top: 13px;
    right: 11px;
  }

  .icon {
    position: absolute;
    left: 18px;
    bottom: 0;
    transform: translateY(100%);
  }
}
// Alert end

.form {
  &-range {
    width: 100%;
  }

  &-inp {
    position: relative;
    width: 100%;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;

      &::-webkit-slider-thumb {
        width: 21px;
        height: 21px;
        margin-top: -7.5px;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 21px;
        height: 21px;
        margin-top: -7.5px;
        cursor: pointer;
      }

      &::-ms-thumb {
        width: 21px;
        height: 21px;
        margin-top: -7.5px;
        cursor: pointer;
      }
    }
  }

  &-line {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: #FB8500;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      transform: translateX(50%);
      flex-shrink: 0;
      min-width: 21px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
    }

    &__wrap {
      width: 100%;
      height: 4px;
      background: #B7B7B7;
      border-radius: 4px;
    }
  }

  &-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;

    li {
      font-size: 11px;
      font-weight: 400;
      line-height: 100%;
      color: $color-black;
    }
  }
}

// main_page_home
.main_page_home {

  .container {
    height: 480px;
    padding-top: 145px;

    @include media(1150) {
      height: auto;
      padding-bottom: 28px;
    }

    @include media(993) {
      padding-top: 70px;
    }
  }

  h1 {
    max-width: 100%;
    text-align: center;

    @include media(993) {
      text-align: center;
      width: 100%;
      margin-bottom: 13px;
    }
  }

  p {
    text-align: center;
    font-size: 24px;
    line-height: 20px;

    @include media(993) {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      order: 2;
    }
  }
}
// main_page_home
