// Preparation
.preparation {
    padding: 26px 0 137px;

    @include media(992) {
        padding: 20px 0 50px;
    }

    .link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        line-height: 100%;
        color: #747474;
        text-align: center;

        @include media(768) {
            font-size: 12px;
        }
        
        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            display: inline;
        }
    }

    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #a7a7a7;
        margin-bottom: 12px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media(992) {
            font-size: 18px;
        }

        @include media(768) {
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    &-steps {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 52px;
        position: relative;
        z-index: 1;
        padding-left: 120px; 

        @include media(1200) {
            padding-left: 26px;
        }

        @include media(768) {
            gap: 16px;
            width: 770px;
            margin-bottom: 27px;
        }
        
        &__wrap {
            @include media(768) {
                width: calc(100% + 30px);
                margin-left: -15px;
                overflow-x: scroll;
        
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 8px;
            left: 0;
            width: 100%;
            height: 4px;
            background: #d9d9d9;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 8px;
            left: 0;
            width: 100%;
            height: 4px;
            background: #219EBC;
            transition: .2s ease-in-out all;
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            width: 96px;
            gap: 7px;

            @include media(768) {
                width: 89px;
                flex-shrink: 0;
            }
        }

        span {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #D9D9D9;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            color: #adadad;

            @include media(992) {
                font-size: 14px;
            }

            @include media(768) {
                font-size: 12px;
            }
        }

        &.active-1 {
            &::after {
                width: 14%;

                @include media(1350) {
                    width: 15%;
                }

                @include media(1200) {
                    width: 9%;
                }

                @include media(992) {
                    width: 12%;
                }
            }

            li:nth-child(1) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-2 {
            &::after {
                width: 16%;

                @include media(1350) {
                    width: 17%;
                }

                @include media(1200) {
                    width: 11%;
                }

                @include media(992) {
                    width: 14%;
                }
            }

            li:nth-child(1) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-3 {
            &::after {
                width: 23%;

                @include media(1350) {
                    width: 24%;
                }

                @include media(1200) {
                    width:19%;
                }

                @include media(992) {
                    width: 20%;
                }
            }

            li:nth-child(1) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-4 {
            &::after {
                width: 29%;

                @include media(1350) {
                    width: 29%;
                }

                @include media(1200) {
                    width: 23%;
                }

                @include media(992) {
                    width: 25%;
                }
            }

            li:not(:nth-child(n+3)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-5 {
            &::after {
                width: 38%;

                @include media(1350) {
                    width: 38%;
                }

                @include media(1200) {
                    width: 32%;
                }

                @include media(992) {
                    width: 34%;
                }
            }

            li:not(:nth-child(n+3)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-6 {
            &::after {
                width: 38%;

                @include media(1350) {
                    width: 38%;
                }

                @include media(1200) {
                    width: 32%;
                }

                @include media(992) {
                    width: 34%;
                }
            }

            li:not(:nth-child(n+3)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-7 {
            &::after {
                width: 42%;

                @include media(1350) {
                    width: 43%;
                }

                @include media(1200) {
                    width: 39%;
                }

                @include media(992) {
                    width: 41%;
                }
            }

            li:not(:nth-child(n+4)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-8 {
            &::after {
                width: 50%;

                @include media(1350) {
                    width: 51%;
                }

                @include media(1200) {
                    width: 49%;
                }

                @include media(992) {
                    width: 49%;
                }
            }

            li:not(:nth-child(n+4)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-9 {
            &::after {
                width: 50%;

                @include media(1350) {
                    width: 51%;
                }

                @include media(1200) {
                    width: 49%;
                }

                @include media(992) {
                    width: 49%;
                }
            }

            li:not(:nth-child(n+4)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-10 {
            &::after {
                width: 57%;

                @include media(1350) {
                    width: 58%;
                }

                @include media(1200) {
                    width: 54%;
                }

                @include media(992) {
                    width: 54%;
                }
            }

            li:not(:nth-child(n+5)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-11 {
            &::after {
                width: 70%;

                @include media(1350) {
                    width: 71%;
                }

                @include media(1200) {
                    width: 69%;
                }

                @include media(992) {
                    width: 69%;
                }
            }

            li:not(:nth-child(n+6)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-12 {
            &::after {
                width: 84%;

                @include media(1350) {
                    width: 84%;
                }

                @include media(1200) {
                    width: 83%;
                }

                @include media(992) {
                    width: 83%;
                }
            }

            li:not(:nth-child(n+7)) {
                span {
                    background: #219EBC;
                }
    
                p {
                    color: #263238;
                }
            }

        }

        &.active-13 {
            &::after {
                width: 100%;
                background: #5CCA8E;

                @include media(1350) {
                    width: 100%;
                }

                @include media(1200) {
                    width: 100%;
                }

                @include media(992) {
                    width: 100%;
                }
            }

            li:not(:nth-child(n+8)) {
                span {
                    background: #5CCA8E;
                }
    
                p {
                    color: #263238;
                }
            }

        }
    }

    .swiper {
        &-slide {
            &:not(.swiper-slide-active) {
                height: 0;
                overflow: hidden;
            }
        }
    }
    
    .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        color: #000;
        text-align: center;

        @include media(992) {
            font-size: 28px;
        }

        @include media(768) {
            font-size: 20px;
        }
    }

    .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        text-align: center;
        color: #000;
        max-width: 866px;

        @include media(992) {
            font-size: 14px;
        }

        @include media(768) {
            font-size: 12px;
        }
    }

    .alert-text {
        background: #f3f6f6;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #000;
        padding: 23px 15px 25px 42px;

        @include media(992) {
            font-size: 14px;
        }

        @include media(768) {
            font-size: 12px;
            padding: 15px 13px 17px 19px;
        }
    }

    .btn-sky {
        background: #219ebc;
        border-radius: 35px;
        max-width: 450px;
        width: 100%;
        height: 67px;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        color: #fff;
        cursor: pointer;
        user-select: none;

        @include media(992) {
            height: 58px;
            font-size: 16px;
        }

        @include media(768) {
            font-size: 13px;
        }
    }

    .prev-btn {
        background: white;
        border-radius: 35px;
        max-width: 450px;
        width: 100%;
        height: 67px;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        cursor: pointer;
        user-select: none;
        border: 1px solid #219ebc;
        color: #263238;


        @include media(992) {
            height: 58px;
            font-size: 16px;
        }

        @include media(768) {
            font-size: 13px;
        }
    }

    .btns {
        display: flex;
        flex-direction: column;
        gap: 21px;
        align-items: center;
        max-width: 450px;
        width: 100%;

        @include media(992) {
            gap: 16px;
        }

        @include media(768) {
            gap: 12px;
        }
        
        button, a {
            width: 100%;
            max-width: 100%;
        }
    }

    .card-btn {
        background: #219ebc;
        border-radius: 5px;
        max-width: 276px;
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #fff;
        
        @include media(992) {
            font-size: 14px;
            height: 50px;
        }

        @include media(768) {
            font-size: 12px;
            height: 48px;
        }
    }

    .checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;
        z-index: 1;
        background: white;
        border: 1px solid #219ebc;
        border-radius: 5px;
        padding: 15px;
        overflow: hidden;

        @include media(992) {
            gap: 15px;
        }

        @include media(768) {
            gap: 10px;
        }

        &-wrap {
            max-width: 450px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            @include media(992) {
                gap: 16px;
            }

            @include media(768) {
                gap: 12px;
            }
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            cursor: pointer;
            opacity: 0;
        }

        img {
            height: 46px;
            flex-shrink: 0;

            @include media(992) {
                height: 40px;
            }

            @include media(768) {
                height: 37px;
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #000;

            @include media(768) {
                font-size: 13px;
            } 

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #219EBC;
                z-index: -1;
                display: none;
            }
    
            &::after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                background: white;
                z-index: -1;
                display: none;
            }
        }

        input:checked ~ p {
            text-stroke: 1px black;
            -webkit-text-stroke: 1px black;
            -moz-text-stroke: 1px black;
            -ms-text-stroke: 1px black;

            &::before, 
            &::after {
                display: block;
            }
        }
    }

    .step-1 {
        max-width: 882px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            margin-bottom: 32px;

            @include media(768) {
                margin-bottom: 22px;
            }
        }

        .description {
            margin-bottom: 36px;

            @include media(768) {
                margin-bottom: 30px;
            }
        }

        .checkbox-wrap {
            margin-bottom: 39px;

            @include media(992) {
                margin-bottom: 30px;
            }
            
            @include media(768) {
                margin-bottom: 27px;
            }
        }

        .alert-text {
            margin-bottom: 32px;
        }
    }

    .step-2 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            font-weight: 500;
            margin: 36px 0 57px;

            @include media(992) {
                margin: 30px 0 40px;
            }

            @include media(768) {
                margin: 22px 0 30px;
            }
        }

        .btns {
            margin-top: 43px;

            @include media(992) {
                margin-top: 36px;
            }

            @include media(992) {
                margin-top: 27px;
            }
        }
    }

    .step-3 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            margin: 41px 0 66px;

            b {
                font-weight: 700;
            }
        }

        ul {
            max-width: 533px;
            margin-bottom: 70px;
        }

        li {
            padding: 20px 27px 10px;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            user-select: none;

            input {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                opacity: 0;
            }

            .icon {
                border: 1px solid #000;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                background: #f6f6f6;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                svg {
                    width: 20px;
                    height: auto;
                    display: none;

                    path {
                        fill: #219EBC;
                    }
                }
            }
            
            .main-img {
                width: 84px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            input:checked ~ .icon svg {
                display: block;
            }

            &:nth-child(2n-1) {
                background: #F4FDFF;
            }
        }
    }

    .step-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 882px;
        margin: 0 auto;

        .description {
            margin: 42px 0 67px;

            @include media(992) {
                margin: 36px 0 56;
            }

            @include media(768) {
                margin: 27px 0 48px;
            }
        }

        ul {
            @include media(992) {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }

        li {
            display: flex;
            align-items: center;
            gap: 16px;

            img {
                flex-shrink: 0;
                width: 241px;

                @include media(992) {
                    width: 200px;
                }

                @include media(768) {
                    width: 100px;
                }
            }

            h4 {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                color: #000;
                margin-bottom: 19px;

                @include media(992) {
                    font-size: 20px;
                    margin-bottom: 12px;
                }

                @include media(768) {
                    font-size: 16px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 143%;
                color: #000;

                @include media(992) {
                    font-size: 14px;
                }

                @include media(768) {
                    font-size: 12px;
                }
            }
        }

        .alert-text {
            margin: 41px 0 116px;
            display: flex;
            flex-direction: column;
            gap: 18px;

            @include media(992) {
                gap: 16px;
                margin: 36px 0 80px;
            }

            @include media(768) {
                font-size: 12px;
                margin: 27px 0 60px;
            }

            h4 {
                font-size: 20px;
                font-weight: bold;
                line-height: 143%;

                @include media(992) {
                    font-size: 18px;
                }

                @include media(768) {
                    font-size: 14px;
                }
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 43px;
            margin-bottom: 53px;

            @include media(992) {
                gap: 36px;
                margin-bottom: 40px;
            }

            @include media(768) {
                gap: 20px;
                width: 100%;
                margin-bottom: 30px;
            }

            &-title {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                text-align: center;
                color: #000;
                
                @include media(992) {
                    font-size: 20px;
                }

                @include media(768) {
                    font-size: 14px;
                }
            }

            ul {
                max-width: 450px;
                width: 100%;
            }

            li {
                height: 78px;

                @include media(992) {
                    height: 66px;
                }
            }
        }
    }

    .step-5 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            margin-bottom: 30px;

            @include media(992) {
                margin-bottom: 27px;
            }

            &:nth-child(2) {
                margin: 39px 0 57px;

                @include media(992) {
                    margin: 27px 0 36px;
                }
            }
        }

        .step-card {
            max-width: 856px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 29px 55px 35px;
            border: 1px solid #d9d9d9;
            border-radius: 10px;
            gap: 50px;
            margin-bottom: 98px;

            @include media(992) {
                margin-bottom: 60px;
            }

            @include media(768) {
                flex-direction: column;
                text-align: center;
                align-items: center;
                gap: 30px;
                padding: 20px;
                margin-bottom: 48px;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }

            .main-img {
                flex-shrink: 0;
                width: 258px;
                height: 100%;
                min-height: 281px;
                object-fit: contain;

                @include media(992) {
                    width: 220px;
                }

                @include media(768) {
                    min-height: 220px;
                    height: 220px;
                }
            }
        }

        .card {
            &-name {
                font-weight: 700;
                font-size: 22px;
                line-height: 141%;
                color: #000;
                margin-bottom: 24px;

                @include media(992) {
                    font-size: 20px;
                    margin-bottom: 18px;
                }

                @include media(768) {
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }

            &-alert {
                background: #5cca8e;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                display: inline-flex;
                padding: 7px 24px 7px 28px;
                margin-bottom: 34px;

                @include media(992) {
                    font-size: 14px;
                    margin-bottom: 28px;
                    padding: 7px 24px;
                }

                @include media(768) {
                    font-size: 12px;
                    margin-bottom: 20px;
                }
            }

            &-price  {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                color: #219ebc;
                margin-bottom: 21px;

                @include media(992) {
                    font-size: 20px;
                    margin-bottom: 16px;
                }

                @include media(768) {
                    font-size: 16px;
                    margin-bottom: 12px;
                }
            }

            &-description {
                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                color: #000;
                margin-bottom: 21px;

                @include media(992) {
                    font-size: 14px;
                    margin-bottom: 16px;
                }

                @include media(768) {
                    font-size: 12px;
                    margin-bottom: 12px;
                }
            }
        }
    }

    .step-6 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            margin: 29px 0 47px;
            max-width: 1000px;
            font-weight: 500;

            @include media(768) {
                margin: 20px 0 30px;
            }
        }

        .alert-text {
            background: #F5FAFD;
            max-width: 859px;
            margin-bottom: 57px;

            @include media(768) {
                margin-bottom: 30px;
            }
        }
    }

    .step-7 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            max-width: 865px;
            line-height: 195%;
            margin: 32px 0 53px;

            @include media(992) {
                margin: 22px 0 30px;
            }
        }

        .checkbox {
            height: 78px;

            @include media(992) {
                height: 66px;
            }

            &-wrap {
                margin-bottom: 52px;

                @include media(992) {
                    margin-bottom: 40px;
                }

                @include media(768) {
                    margin-bottom: 27px;
                }
            }
        }
    }

    .step-8 {
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            margin: 42px 0 52px;

            @include media(992) {
                margin: 27px 0 30px;
            }
        }

        .monitor-type {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 7px;

            @include media(768) {
                flex-direction: column;
                width: 100%;
            }

            li {
                position: relative;
                z-index: 1;
                user-select: none;
                border: 1px solid #263238;
                border-radius: 5px;
                padding: 8px 15px;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                color: #000;
                
                @include media(768) {
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                }
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                opacity: 0;
            }

            input:checked ~ .bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: #263238;
            }

            input:checked ~ span {
                color: white;
            }
        }

        .card {
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            padding: 30px 24px;
            position: relative;
            z-index: 1;
            // overflow: hidden;

            @include media(768) {
                padding: 24px 16px;
            }

            &-wrap {
                display: grid;
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 26px;
                margin: 43px 0 91px;

                @include media(992) {
                    grid-template-columns: repeat(1, minmax(0, 1fr));
                    gap: 12px;
                    width: 390px;
                    margin: 30px 0 40px;
                }

                @include media(450) {
                    width: 100%;
                }
            }

            &-alert {
                position: absolute;
                top: -1px;
                left: -1px;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                padding: 7px 22px;
                border-radius: 5px 0;

                @include media(768) {
                    font-size: 12px;
                    padding: 5px 18px;
                }
                
                &.alert-orange {
                    background: #fb8500;
                    color: white;
                }

                &.alert-sky {
                    background: #5fc5ea;
                    color: white;
                }

                &.alert-dark {
                    background: #000;
                    color: white;
                }
            }

            .main-img {
                width: 100%;
                height: 223px;
                object-fit: contain;
                margin-bottom: 28px;

                @include media(768) {
                    height: 180px;
                    margin-bottom: 16px;
                }
            }

            &-title {
                font-weight: 700;
                font-size: 20px;
                line-height: 100%;
                color: #000;
                margin-bottom: 22px;

                @include media(768) {
                    font-size: 14px;
                    margin-bottom: 12px;
                }
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                color: #000;
                background: #f3f2f2;
                padding: 8px 13px 9px 15px;
                display: inline-flex;
                margin-bottom: 20px;

                @include media(768) {
                    font-size: 12px;
                    padding: 7px 12px;
                    margin-bottom: 14px;
                }
            }

            &-price {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                color: #219ebc;
                margin-bottom: 21px;

                @include media(768) {
                    font-size: 16px;
                    margin-bottom: 14px;
                }
            }

            &-description {
                font-style: italic;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                color: #000;
                margin-bottom: 21px;

                @include media(768) {
                    font-size: 12px;
                    margin-bottom: 14px;
                }
            }

            &-btn {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .step-9 {
        .description {
            margin-bottom: 0 !important;
        }
    }

    .step-video {
        max-width: 753px;
        width: 100%;
        height: 394px;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        overflow: hidden;

        @include media(768) {
            height: 300px;
        }

        &__wrap {
            background: #F3F6F6;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 22px;
            padding: 32px 32px 42px;
            margin: 34px 0;

            @include media(768) {
                padding: 16px 10px 10px;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 20px;
            line-height: 143%;
            color: #000;
            text-align: center;

            @include media(768) {
                font-size: 16px;
            }
        }

        .play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 79px;
            height: 79px;
            border-radius: 50%;
            background: #219EBC;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .step-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;

        @include media(768) {
            gap: 12px;
            margin-bottom: 30px;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 16px;

            @include media(768) {
                gap: 12px;
            }

            .main-img {
                flex-shrink: 0;
                width: 241px;
                aspect-ratio: 1 / 1;
                object-fit: contain;

                @include media(768) {
                    width: 120px;
                }
            }
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            color: #000;
            margin-bottom: 20px;

            @include media(992) {
                font-size: 20px;
            }

            @include media(768) {
                font-size: 16px;
                margin-bottom: 12px;
            }
        }

        &__description {
            font-weight: 400;
            font-size: 16px;
            line-height: 143%;
            color: #000;

            @include media(992) {
                font-size: 14px;
            }

            @include media(768) {
                font-size: 12px;
            }

            a {
                display: inline;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: #219ebc;
            }
        }
    }

    .step-10 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 889px;
        margin: 0 auto;

        .description {
            margin-bottom: 20px;

            @include media(768) {
                margin-bottom: 12px;
            }
        }
    }

    .step-11,
    .step-12 {
        .step-list {
            gap: 31px;

            @include media(992) {
                gap: 20px;
            }

            @include media(768) {
                gap: 12px;
            }

            .main-img {
                width: 220px;

                @include media(992) {
                    width: 180px;
                }

                @include media(768) {
                    width: 120px;
                }
            }
        }
    }

    .step-13 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1020px;
        margin: 0 auto;

        .description {
            max-width: 100%;
            margin: 60px 0 192px;

            @include media(992) {
                margin: 30px 0 100px;
            }
        }
    }
}
// Preparation end